$border-color: #3600ff;

.wall {
  &.side {
    width: 150px;
    width: 225px;
    height: 80px;
    border-radius: 0px 8px 8px 0px;
    left: -20px;
    border-left: 10px solid #000;
    box-shadow: 0px 0px 0px 14px inset #000,
      -2px 0px 0px 16px inset $border-color;
    box-shadow: inset 1px 1px 0 14px #000, inset -2px 1px 0 15px $border-color,
      -11px 12px 0px 6px inset $border-color,
      -11px -10px 0px 6px inset $border-color;
    hr {
      position: absolute;
      background: $border-color;
      border: 0;
      &:first-of-type {
        width: 25px;
        height: 3px;
      }
      &:nth-of-type(2) {
        width: 12px;
        height: 2px;
      }
      &:nth-of-type(3) {
        width: 12px;
        height: 3px;
      }
    }
  }
}

#side1 {
  top: 330px;
  top: 300px;
  hr {
    &:first-of-type {
      bottom: 13px;
      left: -10px;
    }
    &:nth-of-type(2) {
      left: -10px;
      bottom: -2px;
    }
    &:nth-of-type(3) {
      top: 15px;
      left: 4px;
    }
  }
  &::before {
    content: "";
    width: 17px;
    height: 82px;
    display: block;
    position: absolute;
    background: #000;
    top: -65px;
    left: -7px;
    border-bottom: 2px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom-left-radius: 6px;
    box-shadow: -3px 1px 0px 0px $border-color, 0 1px 0px 0px $border-color;
  }
  &::after {
    content: "";
    display: block;
    background: #000;
    position: absolute;
    width: 100%;
    height: 80px;
    top: 77px;
    left: -10px;
  }
}

#side2 {
  top: 490px;
  top: 460px;
  hr {
    &:first-of-type {
      top: 15px;
      left: -10px;
    }
    &:nth-of-type(2) {
      left: -10px;
      top: -2px;
    }
    &:nth-of-type(3) {
      bottom: 13px;
      left: 4px;
    }
  }
  &::before {
    content: "";
    width: 17px;
    height: 82px;
    display: block;
    position: absolute;
    background: #000;
    top: 59px;
    left: -7px;
    border-top: 2px solid $border-color;
    border-left: 1px solid $border-color;
    border-top-left-radius: 6px;
    box-shadow: -3px -1px 0px 0px $border-color, 0px -1px 0px 0px $border-color;
  }
}

#side3 {
  right: -20px;
  left: unset;
  top: 330px;
  top: 300px;
  hr {
    &:first-of-type {
      bottom: 13px;
      right: -10px;
    }
    &:nth-of-type(2) {
      right: -10px;
      bottom: -2px;
    }
    &:nth-of-type(3) {
      top: 15px;
      right: 4px;
    }
  }
  &::before {
    content: "";
    width: 17px;
    height: 22px;
    display: block;
    position: absolute;
    background: #000;
    top: -5px;
    right: -7px;
    border-bottom: 2px solid $border-color;
    border-right: 1px solid $border-color;
    border-bottom-right-radius: 6px;
    box-shadow: 3px 1px 0px 0px $border-color, 0 1px 0px 0px $border-color;
  }
  &::after {
    content: "";
    display: block;
    background: #000;
    position: absolute;
    width: 100%;
    height: 80px;
    top: 77px;
    left: 10px;
  }
}

#side4 {
  right: -20px;
  left: unset;
  top: 490px;
  top: 460px;
  hr {
    &:first-of-type {
      top: 15px;
      right: -10px;
    }
    &:nth-of-type(2) {
      top: -2px;
      right: -10px;
    }
    &:nth-of-type(3) {
      bottom: 13px;
      right: 4px;
    }
  }
  &::before {
    content: "";
    width: 17px;
    height: 82px;
    display: block;
    position: absolute;
    background: #000;
    top: 59px;
    right: -7px;
    border-top: 2px solid $border-color;
    border-right: 1px solid $border-color;
    border-top-right-radius: 6px;
    box-shadow: 3px -1px 0px 0px $border-color, 0px -1px 0px 0px $border-color;
  }
}

#side3,
#side4 {
  border-right: 10px solid #000;
  border-left: 3px solid $border-color;
  border-radius: 8px 0px 0px 8px;
  box-shadow: inset -1px 1px 0 14px #000, inset 2px -1px 0 15px $border-color,
    inset 11px 12px 0 6px $border-color, inset 11px 11px 0 6px $border-color;
}
