@import "./styles/base.scss";

$border-color: #3535c7;
$pac-dimensions: 50;
$table23: 27%;

body {
  height: 100vh;
}

.board {
  width: 60%;
  min-width: 1252px;
  height: 98%;
  margin: 1em auto;
  border-radius: 1.25em;
  border-radius: 2em;
  box-sizing: border-box;
  padding: 1em;
  background: #000;
  position: relative;
  // border: 8px double $border-color;
  border: 16px solid #000;
  box-shadow: 0px 0px 0px 4px inset $border-color, 0px 0px 0px 4px $border-color;
}

.wall {
  position: absolute;
  border: 3px solid $border-color;
  &.square {
    top: 90px;
    height: 54px;
    border-radius: 1em;
    &.sm {
      width: 125px;
    }
    &.md {
      width: 150px;
    }
  }
  &.line {
    height: 32px;
    border-radius: 0.75em;
    &.sm {
      width: 125px;
      top: 224px;
    }
  }
  &.table {
    width: 220px;
    height: 146px;
    border: 0;
    // background: $border-color;
    clip-path: polygon(
      0% 0%,
      100% 0%,
      100% 23%,
      57% 23%,
      57% 100%,
      43% 100%,
      43% 23%,
      0% 23%
    );
    &::before,
    &::after {
      content: "";
      display: block;
      position: relative;
      // background-color: $border-color;
      border-radius: 0.75em;
      border: 3px solid $border-color;
      // clip-path: inset(0% 0% round 16px);
    }
    &::before {
      width: 216px;
      height: 32px;
      // z-index: 2;
      box-shadow: 0px -8px 0px 4px inset #000000;
      // box-shadow: 0px 0px 0px 6px inset $border-color;
    }
    &::after {
      width: 112px;
      width: 96px;
      height: 28px;
      transform: rotate(90deg) translate(32px, -54px);
      transform: rotate(90deg) translate(24px, -62px);
      border-left: 16px solid #000;
      border-left: 12px solid #000;
    }
    &#table1 {
      top: 224px;
      left: calc(50% - 105px);
    }
    &#table2 {
      top: 270px;
      top: 230px;
      left: $table23;
      transform: rotate(270deg);
    }
    &#table3 {
      top: 270px;
      right: $table23;
      transform: rotate(90deg);
    }
    &#table4 {
      bottom: 262px;
      bottom: 192px;
      left: calc(50% - 105px);
    }
    &#table5 {
      bottom: 10px;
      left: calc(50% - 105px);
    }
    &#table2,
    &#table3 {
      width: 186px;
      top: 250px;
      &::before {
        width: 186px;
      }
      &::after {
        transform: rotate(90deg) translate(32px, -36px);
        transform: rotate(90deg) translate(24px, -45px);
      }
    }
  }
}

#wall1 {
  top: 0px;
  left: 550px;
  left: 49.1%;
  width: 28px;
  height: 9em;
  border-radius: 0 0 12px 12px;
  border-top: 4px solid #000000;
}

#square1,
#line1 {
  left: 80px;
  left: 7%;
}

#square2 {
  left: 320px;
  left: 28.58%;
}

#square3 {
  right: 320px;
  right: 28.58%;
}

#square4,
#line2 {
  right: 80px;
}

#line3 {
  left: 24.8%;
}

#line4 {
  right: 24.8%;
}

#line3,
#line4 {
  transform: rotate(90deg);
  top: 540px;
}

.pacman {
  width: $pac-dimensions;
  height: $pac-dimensions;
  border-radius: 50%;
  background: #f2d648;
  position: relative;
  top: 0px;
  /* margin: 1em; */
  &.left {
    transform: rotateY(180deg);
  }
  &.right {
    transform: rotate(0deg);
  }
  &.up {
    transform: rotate(-90deg);
  }
  &.down {
    transform: rotate(90deg);
  }
}

.eye {
  position: absolute;
  width: 13.34%;
  height: 13.34%;
  top: 13.34%;
  right: 33.33%;
  border-radius: 50%;
  background: #333333;
}

.mouth {
  background: #000;
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(100% 74%, 54% 48%, 100% 21%);
  animation: eat 0.7s infinite;
}

@keyframes eat {
  0% {
    clip-path: polygon(100% 74%, 54% 48%, 100% 21%);
  }
  25% {
    clip-path: polygon(100% 60%, 54% 48%, 100% 40%);
  }

  50% {
    clip-path: polygon(100% 50%, 54% 48%, 100% 50%);
  }

  75% {
    clip-path: polygon(100% 59%, 54% 48%, 100% 35%);
  }

  100% {
    clip-path: polygon(100% 74%, 54% 48%, 100% 21%);
  }
}
